.about {
  background: url(../img/bg-main.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  min-height: 1681px;
  position: relative;
  padding: 228px 0 0;
  z-index: 1;
}
.about__content-eclipse {
  position: absolute;
  right: 0px;
  top: -75px;
}
.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.about__content h2 {
  font-weight: 700;
  font-size: 72px;
  line-height: 111%;
  text-align: center;
  color: #fff;
  max-width: 1073px;
}
.about__content-static {
  margin-top: 28px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  min-height: 186px;
  width: 100%;
  margin-bottom: 71px;
}
.about__content-static-item {
  max-width: 250px;
}
.about__content-info {
  display: flex;
  gap: 96px;
}
.about__content-info-left {
  display: flex;
  flex-direction: column;
  position: relative;
}
.about__content-info-left p {
  font-weight: 700;
  font-size: 21px;
  line-height: 143%;
  color: #fff;
  width: 550px;
}
.about__content-info-left p:not(:nth-of-type(2)) {
  margin-bottom: 34px;
}
.about__content-info-left p span {
  color: #9b51e0;
}
.about__content-info-left img {
  position: absolute;
  top: 220px;
  left: 0;
}
.about__content-info-right {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.about__content-info-right h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: #fff;
}
.about__content-info-right p {
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #fff;
}
.about__content-info-right p span {
  color: #9b51e0;
}
.about__content-info-right button {
  border-radius: 45px 26px 45px 27px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(49deg, #9311ff 0%, #bd1cff 100%);
  transition: color 0.4s ease;
}

.about__content-info-right button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(226deg, #fede17 0%, #d5930b 100%);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 1;
}

/* при наведении плавно показываем overlay */
.about__content-info-right button:hover::before {
  opacity: 1;
}

.about__content-info-right button a {
  font-weight: 700;
  font-size: 30px;
  line-height: 367%;
  text-align: center;
  color: #fff;
  z-index: 2;
}
.about-ipad {
  display: none;
}
