@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueBlack.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueBold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueHeavy.otf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueMedium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueRoman.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "introblack";
  src: url(../fonts/intro_black_italic.ttf);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "PT-Root-UI";
  src: url(../fonts/PT-Root-UI_Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PT-Root-UI";
  src: url(../fonts/PT-Root-UI_Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PT-Root-UI";
  src: url(../fonts/PT-Root-UI_Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PurplePurse";
  src: url(../fonts/PurplePurse-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sunday-Regular";
  src: url(../fonts/Sunday-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
