.nav {
  padding: 40px 48px 0;
}
.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__content .logo {
  max-width: 251px;
  max-height: 75px;
}
.nav__content-links {
  display: flex;
  align-items: center;
  gap: 28px;
}
.nav__content-links-menu {
  font-weight: 900;
  font-size: 30px;
  color: #272727;
  position: relative;
  display: flex;
  padding: 11px 32px;
  /* border-radius: 45px 26px 45px 27px; */
  transition: 0.5s;
}
.nav__content-links li:first-of-type a {
  background: linear-gradient(49deg, #29c034 0%, #a2c029 100%);
  border-radius: 45px 26px 45px 27px;
  color: #fff;
}
.nav__content-links-menu:hover {
  background: linear-gradient(49deg, #29c034 0%, #a2c029 100%);
  color: #fff;
  border-radius: 45px 26px 45px 27px;
}

.nav__content-options {
  display: flex;
  align-items: center;
  gap: 45px;
}
.nav__content-options-sale {
  font-weight: 700;
  font-size: 21px;
  line-height: 86%;
  text-align: center;
  color: #fff;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px 26px 45px 27px;
  width: 362px;
  height: 52px;
  background: linear-gradient(49deg, #9311ff 0%, #bd1cff 100%);
}

.nav__content-options-tel {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: right;
  color: #000;
}
.nav__content-menu {
  display: none;
}
.nav__content-links.ipad {
  display: none;
}
.hero__content-right.ipad {
  display: none;
}
