.hero__content {
  padding: 105px 36px 87px 121px;
  display: flex;
  position: relative;
}
.hero__content-left {
  display: flex;
  flex-direction: column;
  gap: 39px;
  position: relative;
}
.hero__content-left h1 {
  font-weight: 700;
  font-size: 122px;
  line-height: 98%;
  background: linear-gradient(49deg, #29c034 0%, #a2c029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 798px;
}
.hero__content-box {
  display: flex;
  height: 307px;
  width: 802px;
  margin-top: 47px;
}
.hero__content-box-item {
  display: flex;
  flex-direction: column;
  height: auto;
}
.hero__content-box-ipad,
.hero__content-info.ipad {
  display: none;
}
.hero__content-box-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero__content-box-item .icon .blur {
  position: absolute;
  background: linear-gradient(49deg, #9311ff 0%, #bd1cff 100%);
  mix-blend-mode: hue;
  opacity: 0.85;
  width: 100%;
  height: 100%;
}
.hero__content-box-item:nth-of-type(1) {
  margin-top: 56px;
}
.hero__content-box-item:nth-of-type(2) {
  gap: 23px;
}
.hero__content-box-item:nth-of-type(3) {
  gap: 30px;
}
.hero__content-box-item:nth-of-type(4) {
  gap: 16px;
}
.hero__content-box-item p {
  font-weight: 900;
  font-size: 27px;
  line-height: 119%;
  text-align: center;
  color: #000;
}
.hero__content-box-item:nth-of-type(even) {
  align-self: flex-end;
}
.hero__content-info {
  display: grid;
  grid-template-columns: 541px 230px;
  grid-auto-rows: auto;
  gap: 57px;
  margin-top: 28px;
}
.hero__content-info p {
  font-weight: 500;
  font-size: 21px;
  line-height: 143%;
  color: #000;
}
.hero__content-info-more {
  background: linear-gradient(49deg, #29c034 0%, #a2c029 100%);
  font-weight: 900;
  font-size: 30px;
  line-height: 367%;
  color: #fff;
  border-radius: 45px 26px 45px 27px;
  height: 78px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  position: relative;
}
.hero__content-info-more::before {
  content: "";
  position: absolute;
  transition: opacity 0.4s ease;
  opacity: 0;
  inset: 0;
  z-index: 1;
  background: linear-gradient(226deg, #fede17 0%, #d5930b 100%);
}
.hero__content-info-more:hover::before {
  opacity: 1;
}
.hero__content-info-more a {
  z-index: 1;
}
.hero__content-right {
  position: absolute;
  right: 0;
  bottom: -230px;
  z-index: -1;
  max-width: 1059px;
  max-height: 959px;
}
.hero__content-right img {
  width: 100%;
  height: 100%;
}
