.questions {
  background: url(../img/Kurs-logos-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-width: 917px;
  padding-bottom: 107px;
  padding-top: 114px;
  position: relative;
}
.questions__content h2 {
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  text-align: center;
  background: linear-gradient(49deg, #29c034 0%, #a2c029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.questions__content-box {
  margin-top: 70px;
  display: flex;
  gap: 18px;
  align-items: center;
}
.questions__content-left {
  width: 50%;
}
.questions__content-left ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.questions__content-left ul li {
  padding-left: 36px;
  position: relative;
}
.questions__content-left ul li span {
  font-weight: 700;
  font-size: 21px;
  line-height: 143%;
  color: #9612ff;
}
.questions__content-left ul li span::before {
  content: url(../icons/checked-small.svg);
  position: absolute;
  left: 0;
  top: 0;
}
.questions__content-right {
  background: linear-gradient(49deg, #9311ff 0%, #bd1cff 100%);
  border-radius: 40px 20px;
  width: 50%;
  height: 426px;
}
.questions__content-right p {
  padding: 31px 41px;
  font-weight: 500;
  font-size: 21px;
  line-height: 129%;
  color: #fff;
  border-radius: 40px 20px 0 0;
  background: linear-gradient(49deg, #9311ff 0%, #bd1cff 100%);
}
.questions__content-right-bottom {
  height: 247px;
  background: linear-gradient(49deg, #29c034 0%, #a2c029 100%);
  padding: 32px 37px 25px 45px;
  display: flex;
  align-items: center;
  border-radius: 0 0 40px 20px;
  justify-content: space-between;
  gap: 41px;
}

.questions__content-right-bottom-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  justify-content: center;
}
.questions__content-right-bottom-right p {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: #fff;
  background: transparent;
  padding: 0;
}
.questions__content-right-bottom-right button {
  width: 291px;
  height: 73px;
  display: flex;
  border-radius: 40px 20px 40px 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: self-start;
  padding-right: 20px;
  z-index: 1;
  background: linear-gradient(49deg, #9311ff 0%, #bd1cff 100%);
}
.questions__content-right-bottom-right button a {
  font-weight: 900;
  font-size: 30px;
  line-height: 367%;
  color: #fff;
}
.questions__content-right-bottom-right button::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background: linear-gradient(226deg, #fede17 0%, #d5930b 100%);
  border-radius: 40px 20px 40px 20px;
  transition: 0.5s;
  z-index: -1;
}
.questions__content-right-bottom-right button:hover:before {
  opacity: 1;
}
.questions__content-eclipse1,
.questions__content-eclipse2,
.questions__content-eclipse3 {
  display: none;
}
