.result {
  position: relative;
  overflow: hidden;
  padding-bottom: 105px;
}
.result__content h2 {
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  text-align: center;
  background: linear-gradient(49deg, #29c034 0%, #a2c029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-1 {
  position: absolute;
  left: 0;
  top: 751px;
  z-index: -1;
}
.bg-2 {
  left: 50%;
  position: absolute;
  bottom: 300px;
  transform: translateX(-50%);
}
.result__content-cards {
  margin-top: 48px;
  display: flex;
  gap: 20px;
  margin-bottom: 71px;
}
.result__content-cards-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.result__content-cards-column-item {
  padding: 20px 16px 25px 20px;
  background: #f5f9fb;
  width: 305px;
  border-radius: 20px 10px;
  display: flex;
  gap: 29px;
  flex-direction: column;
}
.result__content-cards-column-item-info {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.result__content-cards-column-item-info span {
  font-weight: 700;
  font-size: 24px;
  line-height: 75%;
  color: #494949;
}
.result__content-cards-column-item-info .name {
  line-height: 125%;
  font-weight: 700;
  font-size: 24px;
  color: #494949;
}
.result__content-cards-column-item-info p {
  font-weight: 500;
  font-size: 16px;
  line-height: 131%;
  color: #494949;
  width: 264px;
}
.result__content-cards-column-item-info-ball {
  display: flex;
  flex-direction: column;
}
.result__content-cards-column-item-info-ball p {
  display: flex;
  align-items: center;
  gap: 17px;
  font-weight: 500;
  font-size: 16px;
  color: #494949;
  line-height: 131%;
  width: 267px;
}
.result__content-cards-column-item-info-ball p::before {
  content: attr(data-ball);
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  background: linear-gradient(49deg, #29c034 0%, #a2c029 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.result__content-cards-column-item-info-social {
  margin-top: 4px;
  border-radius: 8px 4px;
  width: 55px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4579b1;
  transition: 0.5s;
}
.result__content-cards-column-item-info-social:hover {
  background: #f5f9fb;
  box-shadow: 0 0 10px #4579b1;
}
.result__content-cards-column-item-info-social:hover svg path {
  fill: #4579b1;
}
.item1 .result__content-cards-column-item-info-ball p {
  width: 187px;
}
.result__content-banner {
  width: 100%;
  height: 634px;
  padding: 83px 98px 69px 63px;
  background: linear-gradient(49deg, #29c034 0%, #a2c029 100%);
  border-radius: 50px 20px;
  position: relative;
}
.result__content-banner-info {
  display: flex;
  flex-direction: column;
  gap: 37px;
  width: 580px;
}
.result__content-banner-info p {
  font-weight: 700;
  font-size: 72px;
  line-height: 111%;
  color: #fff;
}
.result__content-banner-info span {
  font-weight: 500;
  font-size: 36px;
  line-height: 133%;
  color: #fff;
}
.result__content-banner-info .primary-button {
  width: 237px;
  margin-top: 31px;
  overflow: hidden;
  box-shadow: 0 3px 10px #5a5a5a;
}
.result__content-banner-info .primary-button a {
  font-weight: 700;
  font-size: 30px;
  line-height: 367%;
  z-index: 2;
  color: #fff;
}
.result__content-banner .right {
  background: url(../img/resul-banner-bg.png);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: -4px;
}
.result__content-banner .blur {
  filter: blur(45px);
  background: linear-gradient(49deg, #29c034 0%, #a2c029 100%);
  opacity: 0.45;
  border-radius: 16px;
  width: 1217px;
  height: 84px;
  position: absolute;
  bottom: -25px;
}
